h1 {
    border: 2px solid red;
    width: 25%;
}

p {
    background-color: #ccc;
}

a:link {
    color: red;
    padding: 3px;
    display: inline-block;

    /* background-color: yellow;
    display: inline-block;
    padding: 25px;
    visibility: hidden; */
    
}

a:visited {
    color: green
}

a:hover {
    background-color: yellow;
}

a:active {
    background-color: green;
}

ul li {
    list-style-type: square;
    list-style-position: outside;
}

ol li {
    list-style-type: lower-latin;
}
